* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
    background: #111;
}
::-webkit-scrollbar {
    width: 0px;
}



.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    align-items: center;
    background: #fff;
    padding: 0 20px;
    transition: 0.5s;
    z-index: 10;
}
.header img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.header a {
    font-size: 2em;
    text-decoration: none;
    color: #111;
    font-weight: 700;
    transition: 0.25s;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.header a:hover {
    opacity: 0.5;
}



.main {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #fff;
    justify-content: center;
}
.fixedDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    filter: invert(0);
    z-index: 0;
}
.fixedDiv .fixedBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.8;
}
.fixedDiv .fixedBg:nth-child(2) {
    mix-blend-mode: multiply;
} 
.galleryInfo {
    width: 80%;
    height: 100%;
    margin-top: 10%;
    z-index: 1;
}
.galleryInfo  h1 {
    color: #111;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
}
.galleryInfo  h2 {
    font-size: 3em;
    padding: 15px 0;
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
}
.galleryInfo  p {
    color: #fff;
}
.gallery  {
    position: relative;
}
.gallery  p {
    color: #fff;
}



.gallerySection {
    position: relative;
    width: 100%;
}
.gallerySection .galleryBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.galleryBox__section {
    position: relative;
    min-width: 45%;
    width: 45%;
    height: 80vh;
    margin-bottom: 80px;
}
.galleryBox__section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #111;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .header .nav {
        visibility: hidden;
        opacity: 0;
    }
    .galleryInfo {
        margin-top: 25%;
    }
    .galleryInfo h1 {
        line-height: 80%;
        font-size: 2.5em;
    }
    .galleryInfo h2 {
        font-size: 2em;
    }
    .galleryInfo p {
        text-align: center;
    }
    .galleryBox__section {
        min-width: 100%;
        width: 100%;
    }
}