@font-face {
    font-family: 'SF Compact Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF Compact Display Medium'), url('sf-compact-display-medium-58646eb43a785.woff') format('woff');
}
@font-face {
    font-family: 'JP';
    font-style: normal;
    font-weight: normal;
    src: url('HakioFreeTrial-b8af.woff') format('woff');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
    transition: 0.5s;
}

body {
    width: 100%;
    background: #111;
    user-select: none;
}
::-webkit-scrollbar {
    width: 0px;
}



.header {
    position: relative;
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    background: #111;
    padding: 0 20px;
    transition: 0.5s;
    border-bottom: 5px solid #000;
    z-index: 10;
    opacity: 0.95;
}
.header img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.header a {
    font-size: 2.5em;
    text-decoration: none;
    color: #111;
    font-weight: 700;
    transition: 0.25s;
    text-transform: uppercase;
    letter-spacing: -1px;
}
.header a:hover {
    opacity: 0.5;
}
.logo {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.logo__img {
    width: 50px;
    height: 50px;
    position: relative;
}
.menu {
    position: relative;
    width: 40px;
    height: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
}
.menuBar {
    transition: 0.5s;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    border-radius: 2px;
    height: 8%;
    background: #000;
    position: absolute;
}
.menuBar::before {
    content: "";
    position: absolute;
    border-radius: 2px;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
}
.menuBar::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 0.5s;
}
.menuBar.activeBtn {
    display: none;
    transition: 0.5s;
}
.closeBar {
    position: relative;
    width: 100%;
    height: 5%;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
    display: none;
}
.closeBar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transition: 0.5s;
}
.closeBar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    top: 0;
    left: 0;
    transform: rotate(135deg);
    transition: 0.5s;
}
.closeBar.disableBtn {
    display: block;
}
.navigation {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    transform: translateX(100%);
}
.navigation.active {
    transform: translateX(0);
}
.navigation a {
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 10px;
}
.logo__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: animateLogo 8s steps(4) infinite;
}
@keyframes animateLogo {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loginForm {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
    font-weight: 700;
    color: #fff;
}


.main {
    display: flex;
    width: 100%;
    height: 100%;
    background: #111;
    justify-content: center;
    position: relative;
}
.fixedDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    filter: invert(0);
    z-index: 0;
    opacity: 0.9;
    user-select: none;
}
.fixedDiv .fixedBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 1;
    user-select: none;
}
.fixedDiv .fixedBg:nth-child(2) {
    mix-blend-mode: multiply;
}
.menu__page {
    position: relative;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    transition: 0.5s;
    transform: translateX(-100%);
    overflow: hidden;
}
.menu__page.active {
    transform: translateX(0);
}
.menu__page-list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-15%);
}
.menu__page-list ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu__page-list ul li {
    list-style: none;
    font-size: 1.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu__page-list ul li h2 {
    font-family: 'JP';
}
.menu__page-list ul li a {
    font-family: 'JP';
    color: #222;
    text-decoration: none;
    transition: 0.5s;
}
.menu__page-list ul li a:hover {
    text-decoration: underline;
    transition: 0.5s;
}
.menu__page-img-box {
    height: 100%;
    position: relative;
}
.menu__page .menu__page-img-box img {
    height: 100%;
    object-fit: cover;
}
.menu__page .menu__page-img-box:last-child img {
    transform: scale(-1, 1); 
}
.active-btn__menu {
    position: fixed;
    top: 50%;
    left: 25px;
    transform: translateY(-50%) rotate(90deg);
    background: none;
    border: none;
    font-size: 3em;
    color: #fff;
    z-index: 9;
    cursor: pointer;
}
.active-btn__menu.active {
    transform: rotate(270deg);
    color: #000;
}
.galleryInfo {
    width: 80%;
    height: 100%;
    margin-top: 10%;
    z-index: 1;
}
.galleryInfo  h1 {
    color: #111;
    font-size: 4em;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
}
.galleryInfo  h2 {
    font-size: 3em;
    padding: 15px 0;
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
}
.galleryInfo  p {
    color: #fff;
}
.gallery  {
    position: relative;
}
.gallery  p {
    color: #fff;
}


.shareText {
    line-height: 0px;
    padding-bottom: 30px;
}
.shareLinks {
    display: flex;
}
.shareLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 3em;
    transition: 0.5s;
}
.shareLinks a:nth-child(2),
.shareLinks a:nth-child(3) {
    padding-left: 20px;
}
.shareLinks a:nth-child(3) {
    padding-right: 20px;
}
.shareLinks a:hover {
    opacity: 0.5;
}
.shareLinks a i {
    color: #fff;
}



.gallerySection {
    position: relative;
    width: 100%;
}
.gallerySection .galleryBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.galleryBox__section {
    position: relative;
    min-width: 30%;
    width: 30%;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 80vh;
    margin-bottom: 50px;
    opacity: 0.7;
    transition: 0.5s;
    filter: grayscale(100%);
}
.galleryBox__section:hover {
    opacity: 1;
    width: 40%;
    filter: grayscale(50%);
}
.galleryBox__section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #111;
    border-radius: 5px;
}
.info-box {
    width: 100%;
    height: 50px;
    background: #000;
    z-index: 1;
    overflow: hidden;
}
.active-menu {
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
    transition: 0.5s;
    color: #fff;
    overflow: hidden;
}
.info-box .info-box__disabled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
}
.info-box__name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
    margin: auto 0;
}
.info-box .info-box__name {
    align-items: center;

}
.active-menu .info-box__disabled {
    align-items: flex-start;
    transition: 0.5s;
}
.info-box .img-tag {
    color: #fff;
    font-size: 1.5em;
    padding: 0 40px;
}
.active-menu .img-tag {
    font-size: 3em;
    padding: 10px;
    text-decoration: underline;
}
.info-box .info-arrow {
    color: #fff;
    font-size: 2em;
    transform: rotate(0deg);
    margin: 0 40px;
    cursor: pointer;
}
.info-box .arrow-active {
    transform: rotate(180deg);
    font-size: 3em;
}
.info-box .categories {
    display: none;
}
.info-box .rating {
    display: none;
    transition: 0.5s;
}
.active-menu .rating {
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    flex-direction: row-reverse;
    width: 100%;
    transform: translateY(100%);
    border-radius: 0;
    transition: 0.5s;
}
.active-menu .categories {
    display: flex;
    width: 100%;
    font-weight: bold;
    justify-content: center;
    height: 100%;
    font-size: 2.25em;
    flex-wrap: wrap;
    padding: 0 10px;
}
.active-menu .categories-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.active-menu .categories-info p {
    font-size: 0.5em;
    text-align: start;
}
.rating input {
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    overflow: hidden;
    transform: translateY(55px);
}
.rating input::before {
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 35px;
    position: absolute;
    left: 4px;
    color: #333;
    transition: 0.5s;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
}
.rating input:nth-child(2n+1)::before {
    right: 4px;
    left: initial;
    border-radius: 0;
}
.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before {
    color: #fff;
    border-radius: 0;
}



.content {
    position: relative;
    -webkit-box-reflect: below -10px linear-gradient(transparent, #0001);
}
.content h2::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #fff;
    animation: blink 0.8s steps(3) infinite;
}
@keyframes blink {
    0%, 75% {
        opacity: 1;
    }
    76%, 100% {
        opacity: 0;
    }
}
.content h2 {
    position: relative;
    color: #fff;
    font-size: 4em;
    letter-spacing: 5px;
    text-transform: uppercase;
    overflow: hidden;
    animation: action 12s steps(16) infinite;
}
@keyframes action {
    0%, 90%, 100% {
        width: 0;
    }
    30%, 60% {
        width: 650px;
    }
}


#arrowTop {
    height: 20px;
    width: 25px;
    font-size: 50px;
    color: #fff;
    position: fixed;
    bottom: 5%;
    right: 25px;
    cursor: pointer;
    transition: 0.5s; 
    outline: none;
    z-index: 10;
}
  #arrowTop::before {
    content: '▲';
}


.footer {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background: #000;
    align-items: center;
    border-top: 10px solid #000;
    margin-top: 50px;
    overflow: hidden;
}
.footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    z-index: 0;
}
.footer__container {
    position: absolute;
    top: 0;
    left: 35%;
    height: 100%;
    width: 50%;
    background: #000;
    padding: 10px 20px;
}
.footer__container::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #000;
    top: 0;
    left: -50px;
}
.footer__container::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #000;
    top: 0;
    right: -50px;
}
.footer__container p {
    color: #fff;
    opacity: 0.2;
    font-size: 0.75em;
    text-align: center;
}


@media (max-width: 600px) {
    .header {
        opacity: 1;
        height: 80px;
    }
    .navigation {
        height: 40px;
    }
    .header::before {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    .header a {
        font-size: 2em;
    }
    .header .nav {
        visibility: hidden;
        opacity: 0;
    }
    .navigation a {
        font-size: 1.25em;
        letter-spacing: 2px;
    }
    .logo__img img {
        animation: none;
    }
    .fixedDiv {
        opacity: 0.7;
    }
    .menu__page {
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .active-btn__menu {
        font-size: 2em;
        left: 10px;
        top: 100px;
    }
    .active-btn__menu.active {
        top: 80px;
        left: 5px;
    }
    .menu__page-img-box:nth-child(1) {
        position: absolute;
        top: 50px;
        opacity: 0.8;
        width: 100%;
    }
    .menu__page-img-box:last-child {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .menu__page-list {
        transform: none;
        padding: 0 20px;
        z-index: 1;
        transform: translateY(15px);
    }
    .galleryInfo {
        margin-top: 25%;
    }
    .galleryInfo h1 {
        line-height: 80%;
        font-size: 2.5em;
    }
    .galleryInfo h2 {
        font-size: 2em;
    }
    .galleryInfo p {
        text-align:justify;
    }
    .galleryInfo .shareText {
        text-align: start;
    }
    .galleryBox__section {
        min-width: 100%;
        width: 100%;
        height: 80vh;
        opacity: 0.8;
        filter: grayscale(50%);
    }
    .galleryBox__section:hover {
        width: 100%;
    }
    .content h2 {
        font-size: 1.5em;
        animation: action 12s steps(17) infinite;
    }
    @keyframes action {
        0%, 90%, 100% {
            width: 0;
        }
        30%, 60% {
            width: 300px;
        }
    }
    #arrowTop {
        font-size: 30px;
        right: 5px;
        bottom: 15px;
    }
    .header .loginForm {
        font-size: 1.5em;
    }
    .footer {
        height: 80px;
    }
    .footer img {
        opacity: 0.8;
    }
    .footer__container p {
        opacity: 0.8;
        font-size: 0.5em;
    }
}
@media (max-width: 1000px) {
    .header {
        height: 80px;
    }
    .menu__page {
        height: 100%;
        top: 0;
    }
    .menu__page-list {
        z-index: 1;
        margin-top: 50px;
    }
    .menu__page-img-box {
        position: absolute;
        top: 50px;
    }
    .menu__page-img-box:first-child {
        left: 0;
        transform: translateX(-25%);
        opacity: 0.25;
    }
    .menu__page-img-box:last-child {
        right: 0;
        transform: translateX(25%);
        opacity: 0.25;
    }
    .galleryBox__section {
        width: 50%;
        margin-left: 0;
        margin-right: 0;
    }
    .galleryBox__section:hover {
        width: 100%;
    }.active-menu .img-tag {
        font-size: 1.5em;
    }
    .content {
        top: 10px;
    }
    .content h2 {
        font-size: 1.5em;
        animation: action 12s steps(17) infinite;
    }
    @keyframes action {
        0%, 90%, 100% {
            width: 0;
        }
        30%, 60% {
            width: 300px;
        }
    }
}